<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    <h1>Buscar</h1>
    <form method="POST" >
        <select name="numerodemedidor" id="numerodemedidor">            
            {% for elemento in todos %}           
                <option >{{ elemento.numero_de_medidor }}</option>                
            {% endfor %}
        </select><br>
        <button type="submit"name="submit_button"value="Consultar"><b>Consultar</b><br /></button>

        
            <ul><b>Nombre: </b>{{ consulta.nombre }}</ul>
            <ul><b>Dirección: </b> {{ consulta.direccion }}</ul>
            <ul><b>Número de medidor: </b> {{ consulta.numero_de_medidor }}</ul>
            <ul><b>Medida anterior: </b> {{ consulta.medida_anterior }}</ul>
            <ul><b>Medida actualmente: </b> {{ consulta.medida_actual }}</ul>
            <ul><b>Adeudo: </b> {{ consulta.adeudo }}</ul>
            <ul><b>Período Facturado: </b> {{ consulta.periodo }}</ul><hr>
            <ul><b>Fecha de último abono: </b> {{ consulta.fecha_ultimo_abono }}</ul><hr>
        
        <button type="submit"name="submit_button"value="Inicio"><b>Inicio</b><br /></button>
</body>
</html>