<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agua Potable San Agustín</title>
</head>
<body>
    <h1>Agua Potable San Agustín</h1>
    <br>
    <br>
    <a href="{{ url_for('agregar_nueva_toma') }}"> <b>Agregar Nueva Toma</b> </a><hr>
    <a href="{{ url_for('mostrar_usuario') }}"> <b>Imprimir Recibos</b> </a><hr>
    <a href="{{ url_for('consultar_usuario') }}"> <b>Buscar</b> </a><hr> 
    <a href="{{ url_for('actualizar') }}"> <b>Actualizar Datos (Agregar Nueva Medida)</b> </a><hr>
    <a href="{{ url_for('pagar') }}"> <b>Pagar</b> </a><hr>
    <a href="{{ url_for('eliminar') }}"> <b>Eliminar Toma</b> </a><hr>
    
</body>
</html>